<h1>Book Details</h1>

    <table class="table table-hover">
        <tr scope="col">
            <td>Book Id</td>
            <td>{{book.id}}</td>
        </tr>
        <tr>
            <td>Book Reference</td>
            <td>{{book.reference}}</td>
        </tr>
        <tr>
            <td>Book Title</td>
            <td>{{book.title}}</td>
        </tr>
        <tr>
            <td>Book Author</td>
            <td>{{book.author}}</td>
        </tr>
        <tr>
            <td>Book Release Date</td>
            <td>{{book.releaseDate}}</td>
        </tr>
        <tr>
            <td>Book Unit Price</td>
            <td>{{book.unitPrice}}</td>
        </tr>
    </table>
    <br>
   
    <br><br>
    <a class="btn btn-small btn-warning" (click)="editBook()">edit</a>   

    <a class="btn btn-small btn-danger" (click)="deleteBook()">delete</a>